# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore intellij configs
.idea

# Ignore vscode configs
.vscode

# Para não ignorar o arquivo jar da biblioteca algs4.jar
!app/libs/*.jar